body {
    text-align: center;
    line-height: 1.6;
    font-size: 28px;
    color: #444;
    padding: 0 10px
}

.is-hidden {
    display: none;
}
  
.modal-overlay {
    position: fixed;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1
}
  
.modal {
    padding: 20px 30px;
    width: 300px;
    position: relative;
    margin: 5% auto 0;
    background: #fff;
    z-index: 1;
}

.button-close {
    float: right;
}

.modal-message {
    padding-top: 50px;
}